.buttonLeft {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.buttonRight {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.calendar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-text {
    text-align: center;
}

.days {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.days li {
    width: 14.28%; /* 100% / 7 days */
    text-align: center;
}

.evenDay--container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day, .empty-day {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    height: 50px;
    position: relative;
}

.empty-day {
    background-color: whitesmoke;
}

.holyday {
    background-color: #bdb2ff;
    color: black;
}

.festival {
    background-color: #fa0014;
    color: whitesmoke;
}

.birthday {
    background-color: green;
    color: white;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the day box */
    left: 50%;
    margin-left: -50px;
    height: 50px;
    width: 100px;
}

.day:hover .tooltip {
    visibility: visible;
}

/* Add this to your CSS file (calendar.css) */

.today {
    background-color: #ff6361; /* Highlight with a yellow background */
    border: 2px solid #ff6361;    /* Add a red border */
    border-radius: none;       /* Make it a circle, if you want */
    color: black;             /* Set text color */
}

.today .gregorian-day {
    font-weight: bold;        /* Make the day number bold */
}
